@font-face {
    font-family: 'icomoon';
    src:url('/fonts/icomoon.eot');
    src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf') format('truetype'),
    url('/fonts/icomoon.woff') format('woff'),
    url('/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icomoon:before {
    vertical-align: baseline;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'icomoon';
    line-height: 1em;
    speak: none;
    webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icon-heart: "\e601";
.icon-heart:before { content: $icon-heart; }

$icon-twitter: "\e604";
.icon-twitter:before { content: $icon-twitter; }

$icon-facebook: "\e605";
.icon-facebook:before { content: $icon-facebook; }

$icon-linkedin: "\e606";
.icon-linkedin:before { content: $icon-linkedin; }

$icon-googleplus: "\e607";
.icon-googleplus:before { content: $icon-googleplus; }

$icon-github: "\e608";
.icon-github:before { content: $icon-github; }

$icon-mail: "\e602";
.icon-mail:before { content: $icon-mail; }

$icon-camera: "\e609";
.icon-camera:before { content: $icon-camera; }

$icon-airplane: "\e60a";
.icon-airplane:before { content: $icon-airplane; }

$icon-bootstrap: "\e61f";
.icon-bootstrap:before { content: $icon-bootstrap; }

$icon-sass: "\e620";
.icon-sass:before { content: $icon-sass; }

$icon-angularjs: "\e624";
.icon-angularjs:before { content: $icon-angularjs; }

$icon-git: "\e625";
.icon-git:before { content: $icon-git; }

$icon-grunt: "\e626";
.icon-grunt:before { content: $icon-grunt; }

$icon-eye: "\e627";
.icon-eye:before { content: $icon-eye; }

$icon-swipe: "\e603";
.icon-swipe:before { content: $icon-swipe; }

$icon-pizza: "\e60b";
.icon-pizza:before { content: $icon-pizza; }

$icon-beer: "\e60c";
.icon-beer:before { content: $icon-beer; }

$icon-postgresql: "\e60d";
.icon-postgresql:before { content: $icon-postgresql; }

$icon-mysql: "\e60e";
.icon-mysql:before { content: $icon-mysql; }

$icon-moustache: "\e60f";
.icon-moustache:before { content: $icon-moustache; }

$icon-mongo: "\e610";
.icon-mongo:before { content: $icon-mongo; }

$icon-yii: "\e611";
.icon-yii:before { content: $icon-yii; }

$icon-think: "\e612";
.icon-think:before { content: $icon-think; }

$icon-popcorn: "\e613";
.icon-popcorn:before { content: $icon-popcorn; }

$icon-chocolate: "\e615";
.icon-chocolate:before { content: $icon-chocolate; }

$icon-html5: "\e616";
.icon-html5:before { content: $icon-html5; }

$icon-flash: "\e617";
.icon-flash:before { content: $icon-flash; }

$icon-css3: "\e618";
.icon-css3:before { content: $icon-css3; }

$icon-jquery: "\e619";
.icon-jquery:before { content: $icon-jquery; }

$icon-java: "\e61a";
.icon-java:before { content: $icon-java; }

$icon-nodejs: "\e61b";
.icon-nodejs:before { content: $icon-nodejs; }

$icon-php: "\e61c";
.icon-php:before { content: $icon-php; }

$icon-cplusplus: "\e61d";
.icon-cplusplus:before { content: $icon-cplusplus; }

$icon-csharp: "\e61e";
.icon-csharp:before { content: $icon-csharp; }

$icon-controller: "\e621";
.icon-controller:before { content: $icon-controller; }

$icon-bitbucket: "\e600";
.icon-bitbucket:before { content: $icon-bitbucket; }

$icon-windows: "\e614";
.icon-windows:before { content: $icon-windows; }

$icon-android: "\e622";
.icon-android:before { content: $icon-android; }

$icon-linux: "\e623";
.icon-linux:before { content: $icon-linux; }
