#tools-page {
  h1 { text-align: center; }

  ul {
    li {
      width: 33%;
      float: left;
    }
  }
}

@media screen and (max-width: $small-screen * 0.6) {
  #tools-page ul li {
    width: 50%;
  }
}