$include-html-type-classes: false;
$include-html-button-classes: false;

$button-radius: 5px;
$button-popped-height: 3px;
$header-font-family: 'Source Sans Pro';
$header-font-weight: 400;
$header-font-size: 1.3em;
$body-font-family: 'Source Sans Pro';
$body-font-weight: 300;
$body-font-color: #fff;
$base-font-size: 130%;
$handwriting-font-family: 'Bad Script';
$handwriting-font-weight: normal;
$item-rotation: 60deg;
$item-small-scale: 0.9;
$item-inactive-opacity: 0.3;
$transition-duration: 1s;
$max-item-width: 1200px;

// Colors
$primary-color: #00A1FF;
$secondary-color: #BF4642;